@mixin font-default-settings() {
  font-family: $base-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}

@mixin font($font: $base-font, $line-height: $base-line-height) {
  font-family: $font;
  line-height: $line-height;
}

@mixin breakpoint($breakpoint) {
  $breakpoint: map-get($breakpoints, $breakpoint);
  @media (min-width: $breakpoint) {
    @content;
  }
}
