.editor-styles-wrapper {
  .wp-block-grace-k-image-content {
    display: block;

    .wp-block {
      max-width: none;
      width: 100%;
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }
  }

  .wp-block-grace-k-image-content-item {
    display: block;

    .wp-block {
      max-width: none;
      width: 100%;
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
    }
  }
}
