@import "settings/breakpoints";
@import "settings/colors";
@import "settings/base";
@import "settings/fonts";

// Tools – Globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.
@import "tools/functions";
@import "tools/mixins";

// Generic – Reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.
@import "generic/generic";
@import "generic/root";
@import "/components/c-text-styles";

p {
  @include font($font-primary);
  color: $color-primary;
  font-size: map-get($base-font-size, xs);
}

h1 {
  @extend .c-text-style-6;
}

h2 {
  @extend .c-text-style-5;
  // background: yellow;
}

.wp-block {
  max-width: 100%;
}
