
.gform_wrapper {
	overflow: inherit;
	margin: 1em 0;
	max-width: 98%;

	:focus { outline: 0; }

	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	textarea {
		@extend .form-control;
		display: inline-block;
		clear: none;
	}

}



.gform_wrapper input[type=image] {
	border: none !important;
	padding: 0 !important;
	width: auto !important;
}


.gform_wrapper ul {
	margin: 0;
	list-style-type: none;
}


.gform_wrapper li,
.gform_wrapper form li {
	margin-left: 0;
	list-style-type: none;
	overflow: visible;
}

.gform_wrapper ul li.gfield {
	clear: both;
}



.gfield_radio,
.gfield_checkbox {
	li {
		overflow: hidden;

		input[type=text] {
			//display: inline-block;
			max-width: 50%;
		}
	}
}

.gform_wrapper ul.right_label li,
.gform_wrapper form ul.right_label li,
.gform_wrapper ul.left_label li,
.gform_wrapper form ul.left_label li {
	margin-bottom: 14px;
}

.gform_wrapper ul.right_label li ul.gfield_radio li,
.gform_wrapper form ul.right_label li ul.gfield_radio li,
.gform_wrapper ul.left_label li ul.gfield_radio li,
.gform_wrapper form ul.left_label li ul.gfield_radio li,
.gform_wrapper ul.right_label li ul.gfield_checkbox li,
.gform_wrapper form ul.right_label li ul.gfield_checkbox li,
.gform_wrapper ul.left_label li ul.gfield_checkbox li,
.gform_wrapper form ul.left_label li ul.gfield_checkbox li {
	margin-bottom: 10px;
}

.gform_wrapper ul li:before,
.gform_wrapper ul li:after,
.gform_wrapper ul.gform_fields {
	padding: 0;
	margin: 0;
	overflow: visible;
}

.gform_wrapper select {
	font-size: inherit;
	font-family: inherit;
	letter-spacing: normal;
}

.gform_wrapper select option {
	padding: 0.125em 0.125em;
	display: block;
}

.gform_wrapper .inline {
	display: inline !important;
}

.gform_wrapper .gform_heading {
	width: 98%;
	margin-bottom: 1.125em;
}

.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute,
.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	width: 4.688em;
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .gfield_time_hour i {
	font-style: normal !important;
	font-family: sans-serif !important;
	width: 0.625em;
	text-align: center;
	float: right;
	margin-top: 9%;
}

.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	margin-right: 0.750em;
}

.gform_wrapper .gfield_date_dropdown_month,
.gform_wrapper .gfield_date_dropdown_day,
.gform_wrapper .gfield_date_dropdown_year {
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .gfield_date_dropdown_month,
.gform_wrapper .gfield_date_dropdown_day,
.gform_wrapper .gfield_date_dropdown_year {
	margin-right: 0.375em;
}

.gform_wrapper .gfield_time_ampm {
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .gfield_time_ampm select {
	width: 4.688em !important;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input,
.gform_wrapper .gfield_date_month input,
.gform_wrapper .gfield_date_day input,
.gform_wrapper .gfield_date_year input {
	width: 70% !important;
}

.gform_wrapper .gfield_date_month,
.gform_wrapper .gfield_date_day,
.gform_wrapper .gfield_date_year {
	width: 3.125em;
	float: left;
}

.gform_wrapper .gfield_date_month input,
.gform_wrapper .gfield_date_day input,
.gform_wrapper .gfield_date_year input {
	width: 85% !important;
}

.gform_wrapper .field_hover {
	border: 1px dashed #2175A9;
	cursor: pointer;
}

.gform_wrapper .field_selected {
	background-color: #DFEFFF;
	border: 1px solid #C2D7EF;
}

.gform_wrapper .field_name_first,
.gform_wrapper .field_name_middle,
.gform_wrapper .field_name_last {
	width: 49.5%;
	float: left;
}

.gform_wrapper .ginput_complex.ginput_container {
	overflow: hidden;
}

.gform_wrapper .field_name_first input,
.gform_wrapper .ginput_complex .ginput_left input {
	width: 95% !important;
}

.gform_wrapper .field_name_last input {
	width: 93% !important;
}

.gform_wrapper .datepicker {
	width: 6.750em !important;
}

.gform_wrapper .ginput_complex .ginput_left  {
	width: 49.5%;
	float: left;
	clear: left;
}

.gform_wrapper .ginput_complex .ginput_right {
	width: 49.5%;
	float: right;
	margin-right: .5%;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_left,
.gform_wrapper .gfield_error .ginput_complex .ginput_right {
	width: 49.5%;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=url],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=password] {
	width: 90% !important;
}

.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password] {
	width: 95% !important;
}

.gform_wrapper .ginput_complex input[type=text],
.gform_wrapper .ginput_complex input[type=url],
.gform_wrapper .ginput_complex input[type=email],
.gform_wrapper .ginput_complex input[type=tel],
.gform_wrapper .ginput_complex input[type=number],
.gform_wrapper .ginput_complex input[type=password],
.gform_wrapper .ginput_complex select {
	width: 95% !important;
}

.gform_wrapper .ginput_complex .ginput_right input[type=text],
.gform_wrapper .ginput_complex .ginput_right input[type=url],
.gform_wrapper .ginput_complex .ginput_right input[type=email],
.gform_wrapper .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .ginput_complex .ginput_right input[type=number],
.gform_wrapper .ginput_complex .ginput_right input[type=password],
.gform_wrapper .ginput_complex .ginput_right select {
	width: 95% !important;
}

.gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
	display: block;
	font-size: 0.875em;
	letter-spacing: 0.5pt;
}

.gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
	margin: 0.188em 0 0.750em 0;
}

.gform_wrapper .field_sublabel_above .ginput_complex label,
.gform_wrapper .field_sublabel_above .gfield_time_hour label,
.gform_wrapper .field_sublabel_above .gfield_time_minute label,
.gform_wrapper .field_sublabel_above .gfield_time_ampm label,
.gform_wrapper .field_sublabel_above .gfield_date_month label,
.gform_wrapper .field_sublabel_above .gfield_date_day label,
.gform_wrapper .field_sublabel_above .gfield_date_year label,
.gform_wrapper .field_sublabel_above .instruction {
	margin: 0.750em 0 0.188em 0 ;
}

.gform_wrapper .ginput_complex span.name_prefix,
.gform_wrapper .ginput_complex span.name_suffix {
	display: block;
	clear: right;
	overflow: hidden;
}

.gform_wrapper .ginput_complex span.name_prefix {
	min-height: 2.20em
}

.gform_wrapper .ginput_complex span.name_prefix select {
	width: auto !important;
}

.gform_wrapper .ginput_complex.has_middle span.name_suffix input[type=text] {
	width: 32%;
}

.gform_wrapper .ginput_complex span.name_first,
.gform_wrapper .ginput_complex span.name_middle,
.gform_wrapper .ginput_complex span.name_last {
	vertical-align: bottom;
	min-height: 2.813em;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .ginput_complex span.name_first,
.gform_wrapper .ginput_complex span.name_middle {
	margin-right: 0.313em;
}

.gform_wrapper .field_sublabel_above .ginput_complex .name_prefix,
.gform_wrapper .field_sublabel_above .ginput_complex span.name_suffix,
.gform_wrapper .field_sublabel_above .ginput_complex span.name_first,
.gform_wrapper .field_sublabel_above .ginput_complex span.name_middle,
.gform_wrapper .field_sublabel_above .ginput_complex span.name_last {
	vertical-align: top;
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name span,
.gform_wrapper .ginput_complex.ginput_container.has_middle_name span,
.gform_wrapper .ginput_complex.ginput_container.has_last_name span {
	width: 99.5%
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span {
	width: 49%
}

.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span {
	width: 32%
}

.gform_wrapper .top_label .gfield_label {
	margin: 0.625em 0 0 0;
	display: block;
	clear: both;
}

.gform_wrapper .left_label .gfield_label {
	float: left;
	margin: 0.75em 15px 0 0;
	width: 29%;
	font-weight: bold;
}

.gform_wrapper .left_label li.field_sublabel_below .gfield_label {
	margin: 0 1em 0 0;
}

.gform_wrapper .right_label .gfield_label {
	float: left;
	margin: 0.75em 1em 0 0;
	width: 29%;
	font-weight: bold;
	text-align: right;
}

.gform_wrapper .right_label li.field_sublabel_below .gfield_label {
	margin: 0 1em 0 0;
}

.gform_wrapper .left_label li.hidden_label input,
.gform_wrapper .right_label li.hidden_label input {
	margin-left: 30.7%;
}

.gform_wrapper .left_label li.gfield .gfield_password_strength,
.gform_wrapper .right_label li.gfield .gfield_password_strength {
	margin-left: 30.7%;
}

body .gform_wrapper label.gfield_label + div.ginput_container {
	margin-top: 0.375em;
}

/* Field Label Placement Overrides  ------------------------------------------------------*/

.gform_wrapper .hidden_label .gfield_label {
    display: none !important;
}

.gfield.right_label,
.gfield.left_label{
    padding-top:10px;
}

.gform_wrapper li.hidden_label input {
	margin-top: 0.75em;
}

.gform_wrapper label.hidden_sub_label{
    display:none;
}

.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
	margin-bottom: 0.750em;
}

.gform_wrapper .left_label ul.gfield_checkbox,
.gform_wrapper .right_label ul.gfield_checkbox,
.gform_wrapper .left_label ul.gfield_radio,
.gform_wrapper .right_label ul.gfield_radio {
	margin-left: 32%;
	overflow: hidden;
}

.gform_wrapper .top_label input.small,
.gform_wrapper .top_label select.small {
	width: 25%;
}

.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium {
	width: 47%;
}

.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea,
.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .hidden_label textarea.textarea {
	width: 99.2%;
}

.gform_wrapper .right_label input.small,
.gform_wrapper .right_label select.small,
.gform_wrapper .left_label input.small,
.gform_wrapper .left_label select.small {
	width: 15%;
}

.gform_wrapper .right_label input.medium,
.gform_wrapper .right_label select.medium,
.gform_wrapper .left_label input.medium,
.gform_wrapper .left_label select.medium {
	width: 35%;
}

.gform_wrapper .right_label input.large,
.gform_wrapper .right_label select.large,
.gform_wrapper .left_label input.large,
.gform_wrapper .left_label select.large,
.gform_wrapper textarea.textarea {
	width: 63%;
}

.gform_wrapper .right_label div.ginput_complex,
.gform_wrapper .left_label div.ginput_complex {
	width: 64%;
}

.gform_wrapper h2.gsection_title {
	margin: 0 !important;
	padding: 0 !important;
	letter-spacing: normal;
}

.gform_wrapper .gsection .gfield_label,
.gform_wrapper h2.gsection_title,
.gform_wrapper h3.gform_title {
	font-weight: bold;
	font-size: 1.3em;
}

.gform_wrapper h3.gform_title {
	letter-spacing: normal !important;
	margin: 0.625em 0 0.375em 0;
}

.gform_wrapper span.gform_description {
	font-weight: normal;
}

.gform_wrapper .gsection {
	border-bottom: 1px dotted #CCC;
	padding: 0 0 .5em 0;
	margin: 1.8em 0;
	clear: both;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
	width: auto !important;
}

/* radio and checkbox styling - justifies lenghty labels ------------------------------------------------------*/


.gform_wrapper .gfield_checkbox li,
.gform_wrapper .gfield_radio li {
	position: relative;
}

.gform_wrapper ul.gfield_checkbox,
.gform_wrapper ul.gfield_radio {
	margin: 6px 0;
	padding: 0;
}

.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label {
	display: block;
	margin: 0 0 0 24px;
	padding: 0;
	width: auto;
	line-height: 1.5;
	vertical-align: top;
}

.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio],
.gform_wrapper .gfield_checkbox li input {
	float: left;
	margin-top: 2px;
}

.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description,
.gform_wrapper .instruction {
	font-size: 0.875em;
	padding-bottom: 0.5em;
	clear: both;
	color: $text-muted;
}


.gfield_date_year+.gfield_description {
	padding: 0;
}

.gform_wrapper .right_label .gfield_description,
.gform_wrapper .left_label .gfield_description,
.gform_wrapper .left_label .instruction,
.gform_wrapper .right_label .instruction {
	margin-left: 30%;
}

.gform_wrapper .left_label .gsection .gsection_description,
.gform_wrapper .right_label .gsection .gsection_description {
	margin-left: 0;
	padding-top: 0.250em;
	padding-left: 0;
	line-height: 1.5em;
}

.gform_wrapper .gfield_required {
	color: $alert-danger-text;
	margin-left: 0.250em;
}

.gform_wrapper textarea.small {
	height: 5em;
}

.gform_wrapper textarea.medium {
	height: 9.375em;
}

.gform_wrapper textarea.large {
	height: 15.625em;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: $alert-warning-bg;
	margin-bottom: $line-height-computed;
	padding: $alert-padding;
	border: 1px solid $alert-warning-border;
	border-radius: $alert-border-radius;
}

.gform_wrapper li.gfield.gfield_creditcard_warning {
	margin-bottom: 6px !important;
	padding: 6px 6px 4px 6px !important;
	border: 1px dashed #C89797;
}

.gform_wrapper li.gfield.gfield_creditcard_warning div.gfield_creditcard_warning_message {
	font-size:1em;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	padding: 10px 20px 10px 45px;
	min-height: 25px;
	background-color: #790000;
	border-bottom: 1px solid #620101;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.50);
	line-height: 1.3em;
	letter-spacing: 0.2pt;
}

li.gfield + li.gfield.gfield_creditcard_warning {
	margin-top: 14px !important;
}

.gform_wrapper .top_label .gfield_error .ginput_container {
	max-width: 99%;
}

.gform_wrapper .top_label .gfield_error {
	width: 97%;
}

.gform_wrapper .top_label .gfield_error input.large,
.gform_wrapper .top_label .gfield_error select.large,
.gform_wrapper .top_label .gfield_error textarea.textarea {
	width: 100%;
}

.gform_wrapper .right_label .gfield_error input.large,
.gform_wrapper .right_label .gfield_error select.large,
.gform_wrapper .right_label .gfield_error textarea.textarea,
.gform_wrapper .left_label .gfield_error input.large,
.gform_wrapper .left_label .gfield_error select.large,
.gform_wrapper .left_label .gfield_error textarea.textarea {
	width: 66%;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	margin-top: 12px;
	margin-bottom: 12px !important;
	padding-left: 10px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container  {
	margin-top: 0.750em;
}

.gform_wrapper .validation_error {
	color: $alert-danger-text;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 1.600em;
	border: 2px solid $alert-danger-border;
	padding: $alert-padding;
	border-radius: $alert-border-radius;
	background-color: $alert-danger-bg;
}

div.gf_page_steps+div.validation_error {
	margin-top: 1em;
}

.gform_wrapper div.gfield_description.validation_error {
	color: #790000;
	font-weight: bold;
	font-size: 0.875em;
	line-height: 1.200em;
	margin-bottom: 1em;
}

.gform_wrapper .validation_message {
	color: $alert-warning-text;
	font-weight: bold;
}

.gform_wrapper li.gfield_error input[type=text],
.gform_wrapper li.gfield_error input[type=url],
.gform_wrapper li.gfield_error input[type=email],
.gform_wrapper li.gfield_error input[type=tel],
.gform_wrapper li.gfield_error input[type=number],
.gform_wrapper li.gfield_error input[type=password],
.gform_wrapper li.gfield_error textarea {
	border: 1px solid $alert-warning-text;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.gform_wrapper li.gfield_error ul.gfield_checkbox,
.gform_wrapper li.gfield_error ul.gfield_radio {
	color: $alert-warning-text;
}

.gform_footer {
	padding: 1em 0 0.625em 0;
	margin: 1em 0 0 0;
	clear: both;
	.button,
	input[type=submit] {
		@extend .btn, .btn-primary;
	}
}

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_complex .ginput_full {
	min-height: 2.813em;
	display: block;
	overflow: hidden;
}

.gform_wrapper .ginput_complex .ginput_full input[type=text],
.gform_wrapper .ginput_complex .ginput_full input[type=url],
.gform_wrapper .ginput_complex .ginput_full input[type=email],
.gform_wrapper .ginput_complex .ginput_full input[type=tel],
.gform_wrapper .ginput_complex .ginput_full input[type=number],
.gform_wrapper .ginput_complex .ginput_full input[type=password] {
	width: 97% !important;
}

.gform_wrapper .gfield_checkbox li,
.gform_wrapper .gfield_radio li {
	margin: 0 0 0.500em 0;
	line-height: 1.300em;
}

.gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label,
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label {
    font-weight: bold;
}

.gform_wrapper input.datepicker.datepicker_with_icon {
	margin-right: 0.250em !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

/* tame those pesky hidden fields ------------------------------------------------------*/


.gform_wrapper input[type=hidden],
.gform_wrapper input.gform_hidden,
.gform_wrapper .gform_hidden,
.gform_wrapper .gf_hidden {
	display: none !important;
	max-height: 1px !important;
	overflow: hidden;
}

.gform_wrapper .ginput_full br,
.gform_wrapper .ginput_left br,
.gform_wrapper .ginput_right br {
	display: none !important;
}

/* additional spacing and padding tweaks ------------------------------------------------------*/


.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
	padding: 0 !important;
}

.gform_wrapper ul.gfield_radio li input+input {
	margin-left: 0.250em;
}

.gform_wrapper ul.gfield_radio li input[value=gf_other_choice] {
	margin-right: 0.375em;
	margin-top: 0.250em;
}

.gform_wrapper .top_label .gfield_description, {
	padding: 0.625em 0 0 0;
}

.gform_wrapper .top_label .gfield_description.validation_message,
.gform_wrapper .gfield_description.validation_message {
	padding: 0.625em 0 !important;
}

.gform_wrapper .ginput_container + .gfield_description.validation_message {
	margin-top: 0.375em;
}

.gform_wrapper .gfield_description + .gform_wrapper .gfield_description.validation_message {
	margin-top: 0.375em;
}

.gform_wrapper .ginput_container.ginput_list + .gfield_description.validation_message {
	margin-top: 0;
}

.gform_wrapper .left_label .ginput_container.ginput_list,
.gform_wrapper .right_label .ginput_container.ginput_list {
	padding-top: 0.750em !important;
}

/* HTML field default margins -----------------------------------------------------*/


.gform_wrapper .left_label li.gfield_html_formatted,
.gform_wrapper .right_label li.gfield_html_formatted {
	margin-left: 32%;
}

.gform_wrapper .gfield_html.gfield_no_follows_desc {
	margin-top: 0.625em;
}

/* HTML field max image width -----------------------------------------------------*/

body .gform_wrapper ul li.gfield.gfield_html img {
		max-width: 98%  !important;
}

/* ajax forms ------------------------------------------------------*/


.gform_wrapper .gform_ajax_spinner {
	padding-left: 0.625em;
}

/* hide the honeypot field  ------------------------------------------------------*/


.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -9000px;
}

/* Really Simple Captcha ------------------------------------------------------*/


.gform_wrapper .gfield_captcha_input_container {
	padding-top: 0.188em;
}

.gform_wrapper .simple_captcha_small input {
	width: 6.250em;
}

.gform_wrapper .simple_captcha_medium input {
	width: 9.375em;
}

.gform_wrapper .simple_captcha_large input {
	width: 12.500em;
}

.gform_wrapper .gform_wrapper .left_label .simple_captcha_small,
.gform_wrapper .right_label .simple_captcha_small,
.gform_wrapper .left_label .simple_captcha_medium,
.gform_wrapper .right_label .simple_captcha_medium,
.gform_wrapper .left_label .simple_captcha_large,
.gform_wrapper .right_label .simple_captcha_large {
	margin-left: 32%;
}

.gform_wrapper .gfield_captcha_container img.gfield_captcha {
	border: none !important;
	background: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* math challenge ------------------------------------------------------*/


.gform_wrapper .math_small input {
	width: 4.313em;
}

.gform_wrapper .math_medium input {
	width: 5.625em;
}

.gform_wrapper .math_large input {
	width: 6.750em;
}

.gform_wrapper .left_label .math_small,
.gform_wrapper .right_label .math_small,
.gform_wrapper .left_label .math_medium,
.gform_wrapper .right_label .math_medium,
.gform_wrapper .left_label .math_large,
.gform_wrapper .right_label .math_large {
	margin-left: 32%;
}

/* textarea character counter ------------------------------------------------------*/


.gform_wrapper div.charleft {
	font-size: 0.688em;
	margin-top: 0.250em;
	color: #B7B7B7;
	width: 92% !important;
	white-space: nowrap !important;
}

.gform_wrapper div.charleft[style] {
	width: 92% !important;
}

.gform_wrapper .left_label div.charleft,
.gform_wrapper .right_label div.charleft {
	margin-left: 32%;
}

.gform_wrapper div.charleft.warningTextareaInfo {
	color: #A1A1A1;
}

.gform_wrapper li.gf_hide_charleft div.charleft  {
	display: none !important;
}

/* submission limit message ------------------------------------------------------*/

.gf_submission_limit_message {
	color: #790000;
	font-size: 1.4em;
}

/* pricing fields ------------------------------------------------------*/


.gform_wrapper .ginput_price {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.gform_wrapper span.ginput_total {
	color: #060;
	font-size: 1.2em;
}

.gform_wrapper .top_label span.ginput_total {
	margin: 0.5em 0;
}

.gform_wrapper span.ginput_product_price_label {
	margin-right: 0.125em;
}

.gform_wrapper span.ginput_product_price {
	color: #900
}

.gform_wrapper span.ginput_quantity_label {
	margin-left: 0.625em;
	margin-right: .125em;
}

.gform_wrapper input.ginput_quantity {
	width: 2.500em;
}

/* multi-page form paging ------------------------------------------------------*/

.gform_wrapper .gform_page_footer {
	margin: 1.250em 0;
	width: 99%;
	border-top: 1px dotted #CCC;
	padding: 1em 0 0 0;
	clear: both;
}

.gform_wrapper .gform_page_footer .button.gform_next_button,
.gform_wrapper .gform_page_footer .button.gform_button  {
	margin-right: 0.625em;
}

/* multi-page progress bar  ------------------------------------------------------*/


.gform_wrapper .gf_progressbar_wrapper {
	clear: both;
	width: 99%;
	margin: 0 0 0.5em 0;
	padding: 0 0 1em 0;
	border-bottom: 1px dotted #CCC;
}

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	font-size: 0.813em;
	line-height: 1em !important;
	margin: 0 0 0.375em 0 !important;
	padding: 0 !important;
	clear: both;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.gform_wrapper .gf_progressbar {
	width: 99%;
	height: 20px;
	overflow: hidden;
	line-height: 20px !important;
	border: 1px solid #EEE;
	background-image: url(../images/gf-percentbar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

.gform_wrapper .gf_progressbar_percentage {
	height: 20px;
	text-align: right;
	font-family: helvetica,arial,sans-serif;
	font-size: 13px !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.50);
}

.gform_wrapper .gf_progressbar_percentage span {
	display: block;
	width: auto;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}

.gform_wrapper .gf_progressbar_percentage.percentbar_0 span {
	color: #959595;
	text-shadow: none;
}

.gform_wrapper .percentbar_blue {
	background-image: url(../images/gf-percentbar-blue.png);
	background-repeat: repeat-x;
	background-color: #0072BC;
	color: #FFF;
}

.gform_wrapper .percentbar_gray {
	background-image: url(../images/gf-percentbar-gray.png);
	background-repeat: repeat-x;
	background-color: #666;
	color: #FFF;
}

.gform_wrapper .percentbar_green {
	background-image: url(../images/gf-percentbar-green.png);
	background-repeat: repeat-x;
	background-color: #94DC21;
	color: #FFF;
}

.gform_wrapper .percentbar_orange {
	background-image: url(../images/gf-percentbar-orange.png);
	background-repeat: repeat-x;
	background-color: #DC7021;
	color: #FFF;
}

.gform_wrapper .percentbar_red {
	background-image: url(../images/gf-percentbar-red.png);
	background-repeat: repeat-x;
	background-color: #DC2521;
	color: #FFF;
}

.gform_wrapper .percentbar_custom {
	background-image: url(../images/gf-percentbar-custom.png);
	background-repeat: repeat-x;
}

/* multi-page steps ------------------------------------------------------*/


.gform_wrapper .gf_page_steps {
	width: 99%;
	margin: 0 0 0.50em 0;
	padding: 0 0 0.250em 0;
	border-bottom: 1px dotted #CCC;
}

.gform_wrapper .gf_step {
	width: auto !important;
	margin: 0 1em 0.625em 0;
	font-size: 1em;
	height: 1.250em;
	line-height: 1.250em !important;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	font-family: arial,sans-serif;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .gf_step span.gf_step_number {
	font-size: 1.250em;
	float: left;
	font-family: arial,sans-serif;
}

.gform_wrapper .gf_step.gf_step_active {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.gform_wrapper .gf_step_clear {
	display: block;
	clear: both;
	height: 1px;
	overflow: hidden;
}

/* password strength indicator -----------------------------------------------------------------*/

.gform_wrapper .gfield_password_strength {
	border: 1px solid #DDD;
	margin-top: 1.150em;
	margin-bottom: 1.150em;
	line-height: 1.8;
	padding: 0.313em 0.313em;
	text-align: center;
	background-color: #EEE;
}

.gform_wrapper ul.top_label li.gfield .gfield_password_strength {
	width: 97%;
}

.gform_wrapper ul.left_label li.gfield .gfield_password_strength,
.gform_wrapper ul.right_label li.gfield .gfield_password_strength {
	margin-top: 1.150em;
	margin-bottom: 1.150em;
	width: 60%;
}

.gform_wrapper .gfield_password_strength.bad {
	background-color: #FFB78C;
	border-color: #FF853C;
}

.gform_wrapper .gfield_password_strength.good {
	background-color: #FFEC8b;
	border-color: #FC0;
}

.gform_wrapper .gfield_password_strength.short,
.gform_wrapper .gfield_password_strength.mismatch {
	background-color: #FFA0A0;
	border-color: #f04040;
}

.gform_wrapper .gfield_password_strength.strong {
	background-color: #C3FF88;
	border-color: #8DFF1C;
}

/* reset the default list styles for the HTML blocks -----------------------------------------------------------------*/


body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul li {
	list-style-type: disc !important;
	margin: 0 0 0.5em;
	overflow: visible;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul {
	list-style-type: disc !important;
	margin: 1em 0 1em 1.5em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li {
	list-style-type: decimal!important;
	overflow:visible;
	margin: 0 0 0.5em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol {
	list-style-type: decimal!important;
	margin: 1em 0 1.5em 2.0em;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul li {
    list-style-type: disc !important;
    padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul {
	margin: 1em 0 1em 1.5em;
}

body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ol li ul li {
	margin: 0 0 0.5em;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl {
	margin: 0 0 1.5em 0;
	padding-left: 0;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl dt {
	font-weight: bold;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html dl dd {
	margin: 0 0 1em 1.5em;
}

/* list fields added in v.1.6 -----------------------------------------------------------------*/


.gform_wrapper table.gfield_list,
.gform_wrapper table.gfield_list caption,
.gform_wrapper table.gfield_list tbody,
.gform_wrapper table.gfield_list tfoot,
.gform_wrapper table.gfield_list thead,
.gform_wrapper table.gfield_list tr,
.gform_wrapper table.gfield_list th,
.gform_wrapper table.gfield_list td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.gform_wrapper table.gfield_list {
	border-spacing: 0;
	border-collapse:collapse;
}

.gform_wrapper table.gfield_list thead th {
	font-weight: bold;
	text-align: left;
}

.gform_wrapper li.gfield.gfield_error table.gfield_list thead th {
	color: #790000;
}

.gform_wrapper table.gfield_list thead,
.gform_wrapper table.gfield_list tr {
	padding: 0;
	margin: 0;
}

.gform_wrapper table.gfield_list th,
.gform_wrapper table.gfield_list td {
	padding:0 0 0.5em 0;
}

.gform_wrapper table.gfield_list th + th,
.gform_wrapper table.gfield_list td + td {
	padding:0 0 0 0.7em;
}

.gform_wrapper .left_label .gfield_list, .gform_wrapper .right_label .gfield_list {
	width: 64%;
}

.gform_wrapper .top_label .gfield_list {
	width: 99%;
}

.gform_wrapper .left_label .gf_list_one_column, .gform_wrapper .right_label .gf_list_one_column {
	width: 45%;
}

.gform_wrapper .top_label .gf_list_one_column {
	width: 46%;
}

.gform_wrapper .gfield_list input{
	width: 98%;
}

.gfield_icon_disabled {
	cursor: default !important;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.gform_wrapper table.gfield_list td.gfield_list_icons {
	width: 5%;
	min-width: 3.750em !important;
}

.gform_wrapper table.gfield_list td.gfield_list_cell {
	width: auto !important;
}

/* enhanced UI/select styles updated in v.1.9 -----------------------------------------------------------------*/


.gform_wrapper select.chosen-select {
	visibility: hidden;
	height: 28px !important;
	min-height: 28px !important;
}

.gform_wrapper .chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	zoom: 1;
	*display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.gform_wrapper .chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.gform_wrapper .chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.gform_wrapper .chosen-container a {
	cursor: pointer;
}

.gform_wrapper .chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 23px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}
.gform_wrapper .chosen-container-single .chosen-default {
	color: #999;
}
.gform_wrapper .chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.gform_wrapper .chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}
.gform_wrapper .chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.gform_wrapper .chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.gform_wrapper .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.gform_wrapper .chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.gform_wrapper .chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/chosen-sprite.png') no-repeat 0px 2px;
}
.gform_wrapper .chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}
.gform_wrapper .chosen-container-single .chosen-search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: white url('../images/chosen-sprite.png') no-repeat 100% -20px;
	background: url('../images/chosen-sprite.png') no-repeat 100% -20px;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.gform_wrapper .chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
}
.gform_wrapper .chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}

.gform_wrapper .chosen-container .chosen-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}
.gform_wrapper .chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
	-webkit-touch-callout: none;
}
.gform_wrapper .chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.gform_wrapper .chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.gform_wrapper .chosen-container .chosen-results li.highlighted {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}

.gform_wrapper .chosen-container .chosen-results li.no-results {
	display: list-item;
	background: #f4f4f4;
}

.gform_wrapper .chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}

.gform_wrapper .chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.gform_wrapper .chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}
.gform_wrapper .chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto !important;
	height: 1%;
	border: 1px solid #aaa;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
	cursor: text;
}
.gform_wrapper .chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 5px;
	height: 15px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-field .default {
	color: #999;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	color: #666;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}
.gform_wrapper .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
	background-position: -42px -10px;
}
.gform_wrapper .chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}
.gform_wrapper .chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.gform_wrapper .chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
	box-shadow: 0 1px 0 #fff inset;
}
.gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}
.gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px;
}
.gform_wrapper .chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gform_wrapper .chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #111 !important;
}

.gform_wrapper .chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.gform_wrapper .chosen-disabled .chosen-single {
	cursor: default;
}
.gform_wrapper .chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

.gform_wrapper .chosen-rtl {
	text-align: right;
}
.gform_wrapper .chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0;
}
.gform_wrapper .chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}
.gform_wrapper .chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px;
}
.gform_wrapper .chosen-rtl .chosen-single div {
	right: auto;
	left: 3px;
}
.gform_wrapper .chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px;
}
.gform_wrapper .chosen-rtl .chosen-choices li {
	float: right;
}
.gform_wrapper .chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl;
}
.gform_wrapper .chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}
.gform_wrapper .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}
.gform_wrapper .chosen-rtl.chosen-container-single-nosearch .chosen-search,
.gform_wrapper .chosen-rtl .chosen-drop {
	left: 9999px;
}
.gform_wrapper .chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.gform_wrapper .chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}
.gform_wrapper .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
	border-right: none;
}
.gform_wrapper .chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	background: white url('../images/chosen-sprite.png') no-repeat -30px -20px;
	background: url('../images/chosen-sprite.png') no-repeat -30px -20px;
	direction: rtl;
}
.gform_wrapper .chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px;
}
.gform_wrapper .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
	background-position: -12px 2px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	.gform_wrapper .chosen-rtl .chosen-search input[type="text"],
	.gform_wrapper .chosen-container-single .chosen-single abbr,
	.gform_wrapper .chosen-container-single .chosen-single div b,
	.gform_wrapper .chosen-container-single .chosen-search input[type="text"],
	.gform_wrapper .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.gform_wrapper .chosen-container .chosen-results-scroll-down span,
	.gform_wrapper .chosen-container .chosen-results-scroll-up span {
		background-image: url('../images/chosen-sprite@2x.png') !important;
		background-size: 52px 37px !important;
		background-repeat: no-repeat !important;
	}
}

/* credit card icons ------------------------------------------------------*/


.gform_wrapper .gform_card_icon_container {
	margin: 8px 0 6px 0;
	height: 32px;
}

.gform_wrapper div.gform_card_icon {
	margin-right: 4px;
	text-indent: -9000px;
	background-image: url(../images/gf-creditcard-icons.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 32px;
	float: left;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px 0;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -32px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style1 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -64px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_visa {
	background-position: 0 -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_visa {
	background-position: 0 -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_visa {
	background-position: 0 -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_mastercard {
	background-position: -36px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_mastercard {
	background-position: -36px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_mastercard {
	background-position: -36px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_amex {
	background-position: -72px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_amex {
	background-position: -72px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_amex {
	background-position: -72px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_discover {
	background-position: -108px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_discover {
	background-position: -108px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_discover {
	background-position: -108px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_maestro {
	background-position: -144px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_maestro {
	background-position: -144px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_maestro {
	background-position: -144px -256px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_jcb {
	background-position: -180px -192px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_selected.gform_card_icon_jcb {
	background-position: -180px -224px;
}

.gform_wrapper .gform_card_icon_container.gform_card_icon_style2 div.gform_card_icon.gform_card_icon_inactive.gform_card_icon_jcb {
	background-position: -180px -256px;
}

/* credit card fields ------------------------------------------------------*/


.gform_card_icon_container input[type=radio]#gform_payment_method_creditcard {
	float: left;
	position: relative;
	top: 4px!important
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left,
.gform_wrapper .ginput_complex .ginput_cardinfo_right {
	min-height: 43px;
	position: relative;
	float: left;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left {
	width: 50%;
	margin-right: 1%;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_right {
	min-width: 85px !important;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left label,
.gform_wrapper .ginput_complex .ginput_cardinfo_right label {
	white-space: nowrap !important;
}

.gform_wrapper .ginput_complex span.ginput_cardextras {
	display: block;
	overflow: hidden;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left span.ginput_card_expiration_container {
	position: relative;
	display: block;
	min-width: 160px !important;
}

.gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_month,
.gform_wrapper .ginput_complex select.ginput_card_expiration.ginput_card_expiration_year {
	width: 47% !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left select.ginput_card_expiration.ginput_card_expiration_month {
	margin-right: 4px;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_right input.ginput_card_security_code {
	max-width: 50% !important;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_right span.ginput_card_security_code_icon {
	width: 32px;
	height: 23px;
	background-image: url(../images/gf-creditcard-icons.png);
	background-repeat: no-repeat;
	background-position: 0 -128px;
	position: relative;
	top: -1px;
	left: 6px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
	padding: 25px;
	border: 2px dashed #ddd;
	text-align: center;
	color: #aaa;
	margin-bottom: 10px;
}

.right_label .gform_fileupload_multifile,
.left_label .gform_fileupload_multifile{
    margin-left: 30.5%;
}

.gform_delete{
    vertical-align:middle;
    cursor:pointer;
}

.gform_wrapper .copy_values_option_container .copy_values_enabled{
    width:auto;
}

.gform_wrapper li.field_sublabel_above .ginput_complex input[type=text] {
	margin-bottom: 1px;
}

/* simple confirmation message styling ------------------------------------------------------*/

.gform_confirmation_message {
	margin: 1em 0 1em 0;
	padding: 1em;
	font-size: 1em;
	border: 2px solid #CFE2C0;
	background-color: #E9FFD9;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* saved message confirmation  ------------------------------------------------------*/

.form_saved_message {
	fmargin: 1em 0 1em 0;
	padding: 2.5em 1em 2.5em 1em;
	font-size: 1em;
	line-height: 1.8;
	border: 2px solid #91AFC7;
	background-color: #E3F3F3;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.form_saved_message a {
	word-wrap: break-word;
}

.form_saved_message br + br {
	display: none;
}

.form_saved_message .form_saved_message_emailform {
	margin: 1em 0 0 0;
}

div.form_saved_message div.form_saved_message_emailform form input[type=text] {
	line-height: 2.25em;
	height: 2.25em;
	margin-bottom: 0.250em;
}

div.form_saved_message div.form_saved_message_emailform form input[type=submit] {
	line-height: 2.25em;
	min-height: 2.25em;
}

.form_saved_message .form_saved_message_emailform .validation_message {
	color:red;
}

.form_saved_message_sent {
	margin: 1em 0 1em 0;
	padding: 1em;
	font-size: 1em;
	border: 2px solid #CFE2C0;
	background-color: #E9FFD9;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* fix recaptcha line height issue ------------------------------------------------------*/

body #content .entry-content .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container #recaptcha_widget_div #recaptcha_area .recaptchatable tbody tr td .recaptcha_input_area,
body .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container #recaptcha_widget_div #recaptcha_area .recaptchatable tbody tr td .recaptcha_input_area {
	line-height: 1em !important;
}

/* define datepicker image size to override generic theme image styles  ------------------------------------------------------*/

body .gform_wrapper img.ui-datepicker-trigger {
	width: 17px !important;
	height: 16px !important;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
}

body .gform_wrapper img.add_list_item,
body .gform_wrapper img.delete_list_item {
	display: -moz-inline-stack; display: inline-block; zoom: 1;
}


/* Responsive Layout Changes -------------------------------------------------------*/

@media screen and (max-width: 570px) and (min-width: 480px) {

	body .gform_wrapper .ginput_complex.ginput_container.has_first_name span,
	body .gform_wrapper .ginput_complex.ginput_container.has_middle_name span,
	body .gform_wrapper .ginput_complex.ginput_container.has_last_name span {
		width: 95%
	}

	body .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span {
		width: 46%
	}

	body .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span {
		width: 30%
	}

}

@media all and (max-width: 480px), all and (max-device-width: 480px) {

	body .gform_wrapper ul li.gfield,
	body .gform_wrapper .ginput_container,
	body .gform_wrapper div.ginput_complex,
	body .gform_wrapper div.ginput_complex span,
	body .gform_wrapper div.ginput_complex span.ginput_left,
	body .gform_wrapper div.ginput_complex span.ginput_right,
	body .gform_wrapper div.gfield_password_strength,
	body .gform_wrapper div.gf_page_steps,
	body .gform_wrapper div.gf_page_steps div {
		display: block !important;
		float: none !important;
		clear: both !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	body .gform_wrapper ul li.gfield[style="display: none;"] {
		display:none !important;
	}

	body .gform_wrapper .ginput_container,
	body .gform_wrapper div.ginput_complex,
	body .gform_wrapper div.gf_page_steps,
	body .gform_wrapper div.gf_page_steps div {
		width: 95% !important;
	}

	body .gform_wrapper div.gfield_password_strength {
		width: 90% !important;
	}

	body .gform_wrapper ul li.gfield,
	body .gform_wrapper div.ginput_complex span,
	body .gform_wrapper div.ginput_complex span.ginput_left,
	body .gform_wrapper div.ginput_complex span.ginput_right {
		width: 100% !important;
	}

	body .gform_wrapper .ginput_complex .ginput_right input[type=text],
	body .gform_wrapper .ginput_complex .ginput_right input[type=url],
	body .gform_wrapper .ginput_complex .ginput_right input[type=email],
	body .gform_wrapper .ginput_complex .ginput_right input[type=tel],
	body .gform_wrapper .ginput_complex .ginput_right input[type=number],
	body .gform_wrapper .ginput_complex .ginput_right input[type=password],
	body .gform_wrapper .ginput_complex .ginput_left input[type=text],
	body .gform_wrapper .ginput_complex .ginput_left input[type=url],
	body .gform_wrapper .ginput_complex .ginput_left input[type=email],
	body .gform_wrapper .ginput_complex .ginput_left input[type=tel],
	body .gform_wrapper .ginput_complex .ginput_left input[type=number],
	body .gform_wrapper .ginput_complex .ginput_left input[type=password],
	body .gform_wrapper .ginput_complex .ginput_full input[type=text],
	body .gform_wrapper .ginput_complex .ginput_full input[type=url],
	body .gform_wrapper .ginput_complex .ginput_full input[type=email],
	body .gform_wrapper .ginput_complex .ginput_full input[type=tel],
	body .gform_wrapper .ginput_complex .ginput_full input[type=number],
	body .gform_wrapper .ginput_complex .ginput_full input[type=password],
	body .gform_wrapper .ginput_complex .ginput_full select,
	body .gform_wrapper input.gform_button.button,
	body .gform_wrapper input[type=submit]  {
		width: 95% !important;
	}

	body .gform_wrapper .ginput_container input.small,
	body .gform_wrapper .ginput_container input.medium,
	body .gform_wrapper .ginput_container input.large,
	body .gform_wrapper .ginput_container select.small,
	body .gform_wrapper .ginput_container select.medium,
	body .gform_wrapper .ginput_container select.large,
	body .gform_wrapper .ginput_container textarea.small,
	body .gform_wrapper .ginput_container textarea.medium,
	body .gform_wrapper .ginput_container textarea.large {
		width: 95% !important;
	}

	body .gform_wrapper div.chosen-container.chosen-container-single[style] {
		width: 95% !important;
	}

	body .gform_wrapper img.ui-datepicker-trigger {
		display: none !important;
	}

	body .gform_wrapper .gfield_time_hour input,
	body .gform_wrapper .gfield_time_minute input,
	body .gform_wrapper .gfield_date_month input,
	body .gform_wrapper .gfield_date_day input,
	body .gform_wrapper .gfield_date_year input {
		width: 95% !important;
	}

	body .gform_wrapper .gfield_time_hour i {
		display: none !important;
	}

	body .gform_wrapper .ginput_complex input[type=text],
	body .gform_wrapper .ginput_complex input[type=url],
	body .gform_wrapper .ginput_complex input[type=email],
	body .gform_wrapper .ginput_complex input[type=tel],
	body .gform_wrapper .ginput_complex input[type=number],
	body .gform_wrapper .ginput_complex input[type=password] {
		width: 95% !important;
	}

	body .gform_wrapper .ginput_complex .ginput_right input[type=text],
	body .gform_wrapper .ginput_complex .ginput_right input[type=url],
	body .gform_wrapper .ginput_complex .ginput_right input[type=email],
	body .gform_wrapper .ginput_complex .ginput_right input[type=tel],
	body .gform_wrapper .ginput_complex .ginput_right input[type=number],
	body .gform_wrapper .ginput_complex .ginput_right input[type=password] {
		width: 95% !important;
	}

	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=text],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=url],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=email],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=tel],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=number],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=password],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=text],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=url],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=email],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=tel],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=number],
	body .gform_wrapper .gfield_error .ginput_complex .ginput_full input[type=password] {
		width: 95% !important;
	}

	body .gform_wrapper .ginput_complex span.name_suffix input[type=text] {
		width: 97.5% !important;
	}

	body .gform_wrapper .ginput_complex .ginput_right select,
	body .gform_wrapper .ginput_complex .ginput_left select,
	body .gform_wrapper .ginput_complex span.name_prefix.name_prefix_select select,
	body .gform_wrapper .gfield_time_ampm select,
	body .gform_wrapper .ginput_complex select,
	body .gform_wrapper .ginput_complex .ginput_right select  {
		width: 97% !important;
	}

	body .gform_wrapper .right_label .gfield_description,
	body .gform_wrapper .left_label .gfield_description,
	body .gform_wrapper .left_label .instruction,
	body .gform_wrapper .right_label .instruction {
		margin-left: 0 !important;
	}

	body .gform_wrapper .gform_footer.right_label,
	body .gform_wrapper .gform_footer.left_label {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	body .gform_wrapper .gfield_description,
	body .gform_wrapper .gsection_description,
	body .gform_wrapper .gfield_description p,
	body .gform_wrapper .gsection_description p {
		width: 95% !important;
		text-align: justify;
	}

	body .gform_wrapper label.gfield_label + div.ginput_container {
		margin-top: 0;
	}

	body .gform_wrapper .gfield .ginput_complex.has_suffix span.name_suffix {
		width: 98% !important;
	}

	body .gform_wrapper .gfield .ginput_complex.has_suffix span.name_suffix input {
		width: 97.5%;
	}

	body .gform_wrapper ul.gform_fields.left_label li.gfield label.gfield_label,
	body .gform_wrapper ul.gform_fields.right_label li.gfield label.gfield_label {
		margin-left: 0 !important;
		float: none !important;
	}

	body .gform_wrapper ul li.gfield.gfield_html img {
		max-width: 95%  !important;
	}

	body .gform_wrapper .gform_footer a.gform_save_link {
		display: block;
		margin: 1em 0 1em 0;
		text-align: center;
	}

	body .gform_wrapper ul li.gfield.gfield_html h1,
	body .gform_wrapper ul li.gfield.gfield_html h2,
	body .gform_wrapper ul li.gfield.gfield_html h3,
	body .gform_wrapper ul li.gfield.gfield_html h4,
	body .gform_wrapper ul li.gfield.gfield_html h5,
	body .gform_wrapper ul li.gfield.gfield_html h6 {
		white-space: normal !important
	}

	body .gform_wrapper .top_label .gfield_error {
	width: 90% !important;
	}

	body .form_saved_message {
		font-size: 0.813em;
	}

	body .form_saved_message_sent {
		font-size: 0.813em;
	}

	body .gform_wrapper div.validation_error {
		font-size: 1em;
	}

	body .form_saved_message .form_saved_message_emailform input,
	body .form_saved_message .form_saved_message_emailform input[type=submit] {
		width: 95% !important;
	}

}

@media all and (max-device-width: 480px) {

	body .gform_wrapper {
		font-size: inherit;
	}

	body .gform_wrapper .gfield_checkbox li input[type=checkbox],
	body .gform_wrapper .gfield_radio li input[type=radio],
	body .gform_wrapper .gfield_checkbox li input {
		margin-top: 2.50em !important;
		width: auto !important;
		height: auto !important;
	}

}
