.ginput_container {
  > ul {
    list-style: none;

    li {
      list-style-type: none;
    }
  }

  label {
    font-weight: inherit;
  }

  &.ginput_container_textarea {
    textarea {
      &.small {
        height: 6rem;
      }
    }
  }

  &.ginput_container_address {
    span {
      display: block;
      margin-bottom: 0.5em;

      label {
        font-weight: normal;
      }
    }
  }

  // Checkbox
  &_checkbox {
    .gfield_checkbox {
      margin: 0;
      list-style: none;

      li {
        margin: 0;

        input[type="checkbox"] {
        }

        label {
          margin-left: 0.35rem;
          display: inline-block;
          // FIXME: Calculate width to 100%
          width: calc(100% - 2rem);
          vertical-align: top;
        }
      }
    }
  }

  // Radio
  &_radio {
    .gfield_radio {
      margin: 0;
      padding: 0;

      li {
        input[type="radio"] {
        }

        input[type="text"] {
          margin-left: 0.35rem;
          display: inline-block;
          width: 50%;
        }

        label {
          margin-left: 0.35rem;
          display: inline-block;
          // FIXME: Calculate width to 100%
          width: calc(100% - 2rem);
          vertical-align: top;
          box-sizing: border-box;
        }
      }
    }
  }

  // Time
  &_time {
    &.gfield_time_hour {
      float: left;
      width: calc(50% - #{$base-line-height} * 0.5rem);
      margin-right: calc(#{$base-line-height} * 1rem);

      i {
        display: none;
      }
    }

    &.gfield_time_minute {
      float: left;
      width: calc(50% - #{$base-line-height} * 0.5rem);
    }
  }

  &_consent {
    label {
      margin-left: 0.35rem;
      display: inline-block;
      // FIXME: Calculate width to 100%
      width: calc(100% - 2rem);
      vertical-align: top;
    }
  }
}

@import "ginput_container_name";
@import "ginput_container_email";
@import "ginput_container_password";
@import "gfield_password_strength";
