/*
Name: Gravity Forms SASS Integration
Version: 1.0.0
Description The Gravity Forms SASS requires the base SASS framework.
 */

@import "variables";

.gform_confirmation_wrapper {
  .gform_confirmation_message {
    padding: 1em;
    color: white;
    background: $gravity-forms-color-success;
  }
}

.gform_wrapper {
  .validation_error {
    margin: 0;
    padding: 1rem;
    color: white;
    border-radius: $gravity-forms-border-radius;
    background: $gravity-forms-color-error;
  }

  @import "gform_heading";

  .gform_body {
    margin: 1rem 0;

    .gform_fields {
      margin: 0;
      padding: 0;
      list-style: none;

      .gfield {
        margin: 1rem 0;
        list-style-type: none;

        label {
        }

        &.gfield_contains_required {
          .gfield_label {
            .gfield_required {
              margin-left: 0.25rem;
              color: $gravity-forms-color-error;
            }
          }
        }

        &.gfield_hide_label,
        &.no-label {
          .gfield_label {
            display: none;
          }
        }

        &.gfield_hide_sublabel {
          .gfield_label {
            display: inherit;
          }

          label {
            display: none;
          }
        }

        &.gfield_hide_label.gfield_hide_sublabel {
          label {
            display: none;
          }
        }

        &.gfield_text_small {
          input {
            position: relative;
            top: -0.25rem;
          }

          label {
          }
        }

        &.gfield_color_light {
          label {
            color: mix(white, $color-primary, 35%);
          }
        }

        input {
          // border-radius: inherit;
          // background: inherit;

          &.small {
            width: auto;
          }

          &.medium {
            width: 50%;
          }

          &.large {
            width: 100%;
          }
        }

        .clear-multi {
          clear: both;
          overflow: hidden;
        }

        .gfield_description {
          color: mix(white, $color-primary, 65%);
        }

        &.field_sublabel_above {
          .gfield_description {
            margin-bottom: 0.5rem;
          }
        }

        &.field_sublabel_below {
          .gfield_description {
            margin-top: 0.5rem;
          }
        }

        &.field_description_above {
          .gfield_description {
            margin-bottom: 0.5rem;
          }
        }

        &.field_description_below {
          .gfield_description {
            margin-top: 0.5rem;
          }
        }

        &.gfield_error {
          .gfield_label {
            color: $gravity-forms-color-error;
          }

          input[aria-invalid="true"],
          input[aria-required="true"],
          textarea[aria-invalid="true"] {
            border-color: mix(white, $gravity-forms-color-error, 75%);
            border-left: 3px solid $gravity-forms-color-error;
          }
        }

        // .gfield_label {
        //   font-weight: bold;
        //   display: inline-block;
        //   margin-bottom: .25em;
        //
        //   .gfield_required {
        //     color: $color-error;
        //   }
        // }

        .ginput_complex {
          clear: both;
          label {
            //@include font-weight(normal);
            color: mix(white, $color-primary, 65%);
          }
        }

        @import "ginput_container";

        @import "gfield_description";
      }
    }

    // label {
    //   //display: none;
    // }
    //
    // input[type="text"],  input[type="email"], input[type="tel"] {
    // }
  }

  @import "gform_footer";
}

@import "ginput_container_email";

@import "gform_ajax_spinner";

.gform_button {
  @include c-button();
}

.ginput_left {
  float: left;
  width: calc(50% - 1rem);
}

.ginput_right {
  float: right;
  width: calc(50% - 1rem);
}
