// $color-error: red;
// $color-notice: orange;
// $color-success: green;

// $base-border-radius: 1rem;
// $color-primary: black;
// $base-line-height: auto;

$gravity-forms-color-error: $color-error !default;
$gravity-forms-color-success: $color-success !default;
$gravity-forms-color-notice: $color-notice !default;
$gravity-forms-border-radius: $base-border-radius !default;
