input {
  @include font($font-primary);
  outline: none;
  appearance: none;
  font-size: 1rem;
  padding: 0.65em;
  border: 1px solid mix(white, $color-primary, 85%);
  background: mix(white, $color-primary, 97.5%);
}

input[type="checkbox"] {
  appearance: checkbox;
}

input[type="radio"] {
  appearance: checkbox;
}

input[type="tel"] {
  appearance: none;
}

input[type="url"] {
  appearance: none;
}

input[type="file"] {
  appearance: none;
}
