.wp-block-image {
}

.wp-block-embed-vimeo {
  margin: 2rem 0;
  padding: 0;
}

.wp-block-button {
  &__link {
    @include font($font-secondary);
    margin: 0;
    padding: 1rem 2rem;
    line-height: 1;
    font-size: 1.1rem;
    font-weight: normal;
    background: $color-secondary;
    border-radius: 0.25rem;
  }
}

.has-text-align-center {
  text-align: center;
}

.has-medium-font-size {
  font-size: map-get($font-size-1, xs);
}

.has-color-secondary-color {
  color: $color-secondary;
}

.has-color-primary-background-color {
  background: $color-primary;
}

.has-color-secondary-background-color {
  background: $color-secondary;
}

.has-color-secondary-tint-1-background-color {
  background: $color-secondary-tint-1;
}

.is-style-trapezoid {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 2rem, 100% calc(100% - 2rem), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 2rem, 100% calc(100% - 2rem), 0 100%);
  }
}

.is-style-trapezoid-reverse {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 calc(100% - 2rem));
    -webkit-clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 calc(100% - 2rem));
  }
}

.is-style-trapezoid-bottom {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  }
}

.is-style-trapezoid-bottom-reverse {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2rem));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2rem));
  }
}

.is-style-heading-line-bottom-left {
  // display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0;
    left: -1rem;
    margin-top: 1rem;
    padding: 0;
    background: $color-secondary;
  }
}

.is-style-heading-line-bottom-center {
  // display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0;
    background: $color-secondary;
  }
}

.is-style-heading-line-bottom-right {
  // display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    margin: 0;
    right: -1rem;
    margin-top: 1rem;
    padding: 0;
    background: $color-secondary;
  }
}
