.wp-block-grace-k-image-content {
  $parent: &;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-row-gap: 2rem;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-areas: "media content";
    grid-column-gap: 4rem;
    grid-row-gap: 0;
  }

  &__item {
    margin: 0;
    padding: 0;

    &.style-1 {
      @include breakpoint(md) {
        #{$parent}__item-inner {
          padding-bottom: 10rem;
        }
      }
    }
  }

  // &__image-container {
  //   margin: 0;
  //   padding: 0;
  //   grid-area: media;

  //   @include breakpoint(md) {
  //   }
  // }

  // &__content-container {
  //   margin: 0;
  //   padding: 0;
  //   grid-area: content;

  //   @include breakpoint(md) {
  //   }
  // }

  // &__image {
  //   display: block;
  //   object-fit: cover;
  //   margin: 0;
  //   margin-bottom: 4rem;
  //   padding: 0;
  //   width: 100%;
  //   height: 100%;
  //   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  // }
}
