.wp-block-grace-k-kind-words-overview {
  margin: 4rem 0;
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 4rem;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 6rem;
    }

    &-item {
      margin: 0;
      padding: 0;
      display: grid;

      @include breakpoint(md) {
        &:nth-child(2n) {
          .wp-block-grace-k-kind-words-block {
            grid-template-rows: 1fr auto;
            &__media {
              order: 2;
            }

            &__content {
              order: 1;
            }

            &__image {
              transform: rotate(-2deg);
            }
          }
        }
      }
    }
  }
}

.wp-block-grace-k-kind-words-block {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 2rem;

  &__media {
    margin: 0;
    padding: 0;
  }

  &__content {
    // @include font($font-secondary);
    margin: 0;
    padding: 0;
  }

  &__title {
    @extend .c-text-style-3;
    font-weight: normal;
    color: $color-secondary;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__image {
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: 1rem 1rem 0px 0 mix(white, $color-secondary, 90%);
    transform: rotate(2deg);
  }
}
