.wp-block-grace-k-three-images {
  margin: 2rem 0;
  padding: 0;
  display: grid;
  grid-row-gap: 1rem;

  @include breakpoint(md) {
    grid-template-columns: 35% 1fr;
    grid-column-gap: 2rem;
  }

  &__item-1 {
    margin: 0;
    padding: 0;
  }

  &__item-2 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: 1rem;

    @include breakpoint(md) {
      grid-row-gap: 0;
    }

    &--reverse {
      text-align: right;
      justify-items: end;
    }
  }

  &__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

    &--portrait {
      position: relative;

      @include breakpoint(md) {
        margin-top: 15rem;
      }
    }

    &--landscape {
      position: relative;

      &-small {
        @include breakpoint(md) {
          margin-top: 2rem;
          width: 75%;
          height: auto;
        }
      }
    }
  }

  &--reverse {
    grid-template-columns: 1fr 35%;
  }
}
