.wp-block-wpx-block-max-width {
  @extend .c-container-max-width;

  &.xs {
    @extend .c-container-max-width;
    @extend .c-container-max-width--xs;
  }

  &.sm {
    @extend .c-container-max-width;
    @extend .c-container-max-width--sm;
  }

  &.lg {
    @extend .c-container-max-width;
    @extend .c-container-max-width--lg;
  }

  &.xl {
    @extend .c-container-max-width;
    @extend .c-container-max-width--xl;
  }
}
