.wp-block-grace-k-two-images {
  display: grid;
  margin: 0;
  padding: 0;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  &__item-1 {
    display: grid;
    align-items: flex-end;
  }

  &__item-2 {
    display: grid;
    align-items: flex-end;

    img {
      @include breakpoint(md) {
        position: relative;
        top: -2rem;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &--reverse {
  }
}
