.wp-block-grace-k-block-max-width {
  @extend .c-container-max-width;
  position: relative;
  z-index: 2;

  &.xs {
    @extend .c-container-max-width;
    @extend .c-container-max-width--xs;
  }

  &.sm {
    @extend .c-container-max-width;
    @extend .c-container-max-width--sm;
  }

  &.lg {
    @extend .c-container-max-width;
    @extend .c-container-max-width--lg;
  }

  &.xl {
    @extend .c-container-max-width;
    @extend .c-container-max-width--xl;
  }

  &.style-1 {
    @include breakpoint(md) {
      margin-top: -10rem !important;
      padding-top: 10rem !important;
      z-index: 1 !important;
    }
  }
}
