.wp-block-grace-k-block-style-1 {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0 2rem;
    z-index: 2;
    display: grid;
    align-items: end;

    &-wrapper {
      display: block;
      margin: 0 auto;
      width: 100%;

      @include breakpoint(md) {
        width: 1200px;
      }
    }
  }

  &__letter {
    @include font($font-secondary);
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 15rem;
    color: white;
    line-height: initial;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 30rem;
      //   line-height: 24rem;
    }
  }

  &__media {
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  &__image {
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));

    @include breakpoint(md) {
      height: 30rem;
    }

    &--reverse {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);
    }
  }
}
