.u-background-color-primary {
  background: $color-primary !important;
}

.u-background-color-secondary {
  background: $color-secondary !important;
}

.u-background-color-secondary-tint-1 {
  background: $color-secondary-tint-1 !important;
}
