.u-margin-bottom {
  &-1 {
    $unit: 1rem;
    margin-bottom: $unit !important;
  }

  &-2 {
    $unit: 2rem;
    margin-bottom: $unit !important;
  }

  &-3 {
    $unit: 3rem;
    margin-bottom: $unit !important;
  }

  &-4 {
    $unit: 4rem;
    margin-bottom: $unit !important;
  }

  &-5 {
    $unit: 5rem;
    margin-bottom: $unit !important;
  }

  &-6 {
    $unit: 6rem;
    margin-bottom: $unit !important;
  }
  &-7 {
    $unit: 7rem;
    margin-bottom: $unit !important;
  }

  &-8 {
    $unit: 8rem;
    margin-bottom: $unit !important;
  }
}
