.u-v-padding {
  &-1rem {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  &-2rem {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  &-3rem {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  &-4rem {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}
