@mixin c-block-3 {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2rem;

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
  }

  &__item {
    padding: 0;

    @include breakpoint(lg) {
      transition: all .25s ease-in-out;
      padding: 1.5rem;

      &:hover {
        background: mix(white, $color-secondary, 95%);
        transition: all .25s ease-in-out;
        transform: scale(1.075);
      }

    }
  }

  &__link {
    text-decoration: none;
  }
}

.c-block-3 {
  @include c-block-3();
}
