.c-block-1 {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-areas:
    "content"
    "media";
  max-width: 1500px;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "content media";
  }

  &__item-1 {
    margin: 0;
    padding: 0;
    grid-area: content;

    @include breakpoint(md) {
      justify-self: end;
    }
  }

  &__item-2 {
    margin: 0;
    padding: 0;
    grid-area: media;

    @include breakpoint(md) {
      justify-self: start;
    }
  }

  &__container-1 {
    margin: 0;
    padding: 2rem;
    max-width: calc(1100px / 2);
    box-sizing: border-box;

    @include breakpoint(md) {
      padding: 4rem;
      padding-left: 0;
    }
  }
}
