.c-block-5 {
  margin: 0 auto;
  padding: 4rem 0;
  display: grid;
  grid-template-areas:
    "media"
    "content";

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "media content";
  }

  &__item-1 {
    margin: 0;
    padding: 0;
    grid-area: media;

    @include breakpoint(md) {
      justify-self: end;
    }
  }

  &__item-2 {
    margin: 0;
    padding: 0;
    grid-area: content;

    @include breakpoint(md) {
      justify-self: start;
    }
  }

  &__container-1 {
    margin: 0;
    padding: 2rem;
    max-width: calc(1100px / 2);
    box-sizing: border-box;

    @include breakpoint(md) {
      padding: 4rem;
      padding-right: 0;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0 100%);
  }
}
