// Titles

@mixin c-block-6 {
  display: block;
  position: relative;
  margin: 0;
  // margin-bottom: 2rem;
  padding: 0;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &__container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 75%;

    // @include breakpoint(md) {
    //   max-width: 50%;
    // }
  }

  &__subtitle {
    @include font($font-primary);
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    color: mix(white, $color-primary, 50%);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &__title {
    @extend .c-text-style-6;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.c-block-6 {
  @include c-block-6();
}
