@mixin c-block-2 {
  position: relative;
  margin: 0;
  padding: 0;
  // height: 40rem;

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));

    &--reverse {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);
    }
  }
}

.c-block-2 {
  @include c-block-2();
}
