@mixin c-block-7 {
  position: relative;
  margin: 0;
  padding: 0;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0 2rem;
    z-index: 2;
    display: grid;
    align-items: end;

    &-wrapper {
      display: block;
      margin: 0 auto;
      width: 960px;
    }
  }

  &__letter {
    @include font($font-secondary);
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20rem;
    color: white;
    line-height: 16rem;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 30rem;
      line-height: 24rem;
    }
  }

  &__media {
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  &__image {
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4rem));
    background: yellow;

    &--reverse {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);
    }
  }
}

.c-block-7 {
  @include c-block-7();
}
