.c-block-8 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 2rem;

  &__item-1 {
    margin: 0;
    padding: 0;
  }

  &__item-2 {
    margin: 0;
    padding: 0;
    display: grid;

    &--reverse {
      text-align: right;
      justify-items: end;
    }
  }

  &__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

    &--portrait {
      position: relative;
      margin-top: 15rem;
    }

    &--landscape {
      position: relative;

      &-small {
        margin-top: 2rem;
        width: 75%;
        height: auto;
      }
    }
  }

  &--reverse {
    grid-template-columns: 1fr 35%;
  }
}
