.c-block-4 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 1rem;

  &__media {
    margin: 0;
    padding: 0;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__content {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    @include font($font-primary);
    margin: 0;
    padding: 0;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__title {
    @extend .c-text-style-3;
    margin: 0 0 1rem 0;
  }

  p {
    color: mix(white, $color-primary, 35%);
    font-size: 0.9rem;
  }
}
