@mixin c-button {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1em;
  border: 2px solid $color-primary;
  border-radius: 5rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 1.35rem;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: $color-primary;
    color: white;
    border-color: $color-primary;
  }

  &--white {
    border-color: $white;
    color: $white;

    &:hover {
      background: $white;
      color: $color-primary;
      border-color: $white;
    }
  }
}

.c-button {
  @include c-button();
}
