.c-container-max-width {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;

  @include breakpoint(xs) {
  }

  @include breakpoint(sm) {
  }

  @include breakpoint(lg) {
  }

  @include breakpoint(xl) {
    max-width: 1200px;
  }

  &--xs {
    max-width: 600px;

    @include breakpoint(xs) {
    }

    @include breakpoint(sm) {
    }

    @include breakpoint(lg) {
    }

    @include breakpoint(xl) {
    }
  }

  &--sm {
    max-width: 960px;

    @include breakpoint(xs) {
    }

    @include breakpoint(sm) {
    }

    @include breakpoint(lg) {
    }

    @include breakpoint(xl) {
    }
  }

  &--lg {
    max-width: 1400px;

    @include breakpoint(xs) {
    }

    @include breakpoint(sm) {
    }

    @include breakpoint(lg) {

    }

    @include breakpoint(xl) {
      .wp-block-grace-k-image-content__item--horizontal-spacing-left {
        margin-left: calc( (1400px - 1200px) / 2 );
      }

      .wp-block-grace-k-image-content__item--horizontal-spacing-right {
        margin-right: calc( (1400px - 1200px) / 2 );
      }
    }
  }

  &--xl {
    max-width: 1600px;

    @include breakpoint(xs) {
    }

    @include breakpoint(sm) {
    }

    @include breakpoint(lg) {


    }

    @include breakpoint(xl) {
      .wp-block-grace-k-image-content__item--horizontal-spacing-left {
        margin-left: calc( (1600px - 1200px) / 2 );
      }

      .wp-block-grace-k-image-content__item--horizontal-spacing-right {
        margin-right: calc( (1600px - 1200px) / 2 );
      }
    }
  }

  &--50\% {
    width: 50%;
  }
}
