.c-container {
  margin: 0;
  padding: 0;

  &--h-margin-1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__container {
    margin: 0;
    padding: 0;

    &--max-width {
      margin: 0 auto;
      padding: 0 2rem;
      max-width: map-get($max-width, xs);

      @include breakpoint(sm) {
        max-width: map-get($max-width, sm);
      }

      @include breakpoint(md) {
        max-width: map-get($max-width, md);
      }

      @include breakpoint(lg) {
        max-width: map-get($max-width, lg);
      }
    }

    &--h-padding-1 {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}
