.c-footer-nav-menu-secondary {
  margin: 0;
  padding: 0;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item,
    li {
      margin: 0;
      padding: 0;

      a {
        font-size: 0.85rem;
        margin: 0;
        padding: 0;
        color: inherit;
        text-decoration: none;
        line-height: 1;
        // background: pink;
      }
    }
  }
}
