.c-footer-block-1 {
  margin: 6rem 0 2rem 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2rem;
  color: mix(white, $color-primary, 35%);
  text-align: center;

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    text-align: left;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--align-right {
      @include breakpoint(md) {
        justify-self: end;
        text-align: right;
      }
    }

    &-layout {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-row-gap: 1rem;
      height: 100%;
      margin: 0;
      padding: 0;

      &-item {
        margin: 0;
        padding: 0;

        &--last-item {
          align-self: end;
        }
      }
    }
  }

  a {
    color: inherit;
  }
}
