.c-footer-social-media {
  margin: 0;
  padding: 0;

  &-list {
    margin: 0;
    padding: 0;
    display: inline-grid;
    grid-auto-flow: column;
    grid-column-gap: 0.65rem;
    list-style: none;
    align-items: center;

    &__item {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }

      i {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 1.35rem;
        color: $color-secondary;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
