.c-footer-nav-menu-primary {
  // background: pink;
  margin: 0;
  padding: 0;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item,
    li {
      margin: 0;
      padding: 0;
      // background: orange;

      a {
        margin: 0;
        padding: 0;
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }

      &.current-menu-item {
        color: $color-secondary;
      }
    }
  }
}
