.c-footer-block-2 {
  display: inline-block;
  background: mix(white, $color-primary, 95%);
  margin: 0;
  margin-top: 4rem;
  padding: 0;
  width: 100%;
  clip-path: polygon(0 0, 100% 2rem, 100% 100%, 0% 100%);

  @include breakpoint(md) {
    clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0% 100%);
  }
}
