.c-header-block-1 {
  display: none;

  @include breakpoint(md) {
    margin: 0;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo nav";
    grid-column-gap: 4rem;

    &__logo {
      margin: 0;
      padding: 0;
      grid-area: logo;

      img {
        height: 1.65rem;
      }
    }

    &__nav {
      margin: 0;
      padding: 0;
      grid-area: nav;
      text-align: right;
    }
  }
}
