.c-header-block-2 {
  margin: 0;
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;

    &__item,
    li {
      margin: 0;
      padding: 0 0.5rem;

      a {
        text-decoration: none;
      }

      &:hover {
        border-bottom: 2px solid mix(white, $color-secondary, 85%);
        a {
          color: $color-secondary;
        }
      }

      &.current-menu-item,
      &.current_page_item {
        padding-bottom: 0.35rem;
        border-bottom: 2px solid $color-secondary;

        a {
          font-weight: bold;
          color: $color-secondary;
        }

        &.disable-style {
          color: $color-primary;
          border-bottom: none;

          a {
            font-weight: normal;
            color: inherit;
          }
        }
      }
    }
  }
}
