.c-mobile-nav-menu-primary {
  margin: 0;
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 1rem 0;
      padding: 0;
      text-align: center;

      a {
        display: block;
        margin: 0;
        padding: 0;
        @extend .c-text-style-3;
        text-decoration: none;
      }

      &.current-menu-item {
        a {
          color: $color-secondary;
        }
      }
    }
  }
}
