.c-mobile-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  margin: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid mix($white, $color-secondary, 95%);
  background: rgba($white, 0.9);

  @include breakpoint(md) {
    display: none;
  }

  &__logo {
    margin: 0;
    padding: 0;
    justify-self: left;

    &-image {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 40%;
      height: auto;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    justify-self: end;

    &-icon {
      font-size: 1.5rem;
      line-height: 1;
      color: $color-secondary;
    }
  }
}
