.c-mobile-nav-body {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  place-content: center;
  background: rgba($white, 0.95);

  &__content {
    margin: 0;
    padding: 0;
  }
}
