// Introduction Text
.c-text-style-1 {
  @include font($font-primary);
  padding: 0;
  font-size: map-get($font-size-1, xs);
  font-weight: normal;

  &--color-secondary {
    color: $color-secondary;
  }
}

// Heading 4
.c-text-style-2 {
  @include font($font-primary);
  padding: 0;
  font-size: map-get($font-size-2, xs);
  font-weight: normal;
}

// Heading 3
.c-text-style-3 {
  @include font($font-secondary);
  padding: 0;
  font-size: map-get($font-size-3, xs);
  font-weight: normal;
  line-height: 1.35;
}

// Heading 2
.c-text-style-4 {
  @include font($font-primary);
  padding: 0;
  font-size: map-get($font-size-4, xs);
}
// Heading 1
.c-text-style-5 {
  @include font($font-secondary);
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0;
  font-size: map-get($font-size-5, xs);
  font-weight: normal;
  line-height: 1.25;
}
.c-text-style-6 {
  @include font($font-secondary);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-size: map-get($font-size-6, md);
  font-weight: normal;
  line-height: 1.15;
}
