$base-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$base-font-size: (
  xs: 1rem,
  sm: 1rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1rem
);

$base-line-height: 1.65;
$base-border-radius: 0.175rem;

$text-scale-ratio: 1.2;

$font-size-1: (
  xs: 1.15rem,
  sm: 1.15rem,
  md: 1.15rem,
  lg: 1.15rem,
  xl: 1.15rem
);

$font-size-2: (
  xs: 1.596rem,
  sm: 1.596rem,
  md: 1.596rem,
  lg: 1.596rem,
  xl: 1.596rem
);

$font-size-3: (
  xs: 1.9152rem,
  sm: 1.9152rem,
  md: 1.9152rem,
  lg: 1.9152rem,
  xl: 1.9152rem
);

$font-size-4: (
  xs: 2.29824rem,
  sm: 2.29824rem,
  md: 2.29824rem,
  lg: 2.29824rem,
  xl: 2.29824rem
);

$font-size-5: (
  xs: 2.757888rem,
  sm: 2.757888rem,
  md: 2.757888rem,
  lg: 3.3094656rem
);

$font-size-6: (
  xs: 3.3094656rem,
  sm: 3.3094656rem,
  md: 3.3094656rem,
  lg: 5rem,
  // xl: 3.3094656rem
);

$heading-line-height: 1.15;
$heading-margin-bottom: 0.65rem;

$max-width: (
  xs: 45rem,
  sm: 45rem,
  md: 52.5rem,
  lg: 60rem
);
$max-text-width: 55rem;
