$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 64rem,
  lg: 80rem,
  xl: 90rem
) !default;

:root {
  --breakpoint-xs: map-get($breakpoints, xs);
  --breakpoint-sm: #{map-get($breakpoints, sm)};
  --breakpoint-md: #{map-get($breakpoints, md)};
  --breakpoint-lg: map-get($breakpoints, lg);
  --breakpoint-xl: map-get($breakpoints, xl);
}
