$color-1: #454545;
$color-2: #e50695;

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$color-error: hsl(359, 76%, 55%);
$color-success: hsl(144, 58%, 55%);
$color-notice: hsl(26, 76%, 57%);
$color-info: hsl(203, 72%, 58%);

$color-primary: $color-1;
$color-secondary: $color-2;
$color-secondary-tint-1: mix(white, $color-secondary, 90%);

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
}

$heading-color: $color-primary;

$link-color: $color-primary;

$button-color: $white;
$button-background: $color-primary;
