$font-1: "Lato";
$font-2: "Playfair Display";

$font-primary: $font-1;
$font-secondary: $font-2;

$font-heading: "";
$font-heading-1: "";
$font-heading-2: "";
$font-heading-3: "";
$font-heading-4: "";

$font_dir: "../fonts";
